target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

### Chaves e arquivos locais sensiveis ###
*.pem
*.key
*.env
.DS_Store
Thumbs.db
